@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-top 
		.navbar
			background-color: $main-dark
	.s
		&-textstory
			padding: 50px
			text-align: center
			.textstory-container
				margin-top: 25px
		&-expertise
			.container
				.row:first-child
					border-bottom: none
				.expertise-item
					padding: 20px
					border-bottom: 1px solid #ebebeb
					&:last-child
						border-bottom: none
				


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


