@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

html, body
	height: 100%

body
	font-size: 14px
	position: relative
	line-height: 1.75
	font-family: $default-font
	font-weight: 300
	letter-spacing: 1px
	overflow-x: hidden
	opacity: 1

	input:focus:required:invalid,
	textarea:focus:required:invalid,
	input:required:valid,
	textarea:required:valid
		color: #666

.preloader
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 100
	background: $accent
	&-inner
		position: absolute
		top: 50%
		left: 50%
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		background-image: url("../img/loader.gif")
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff


.img-responsive
	display: block
	max-width: 100%
	height: auto

.uppercase
	text-transform: uppercase

.container-fh, .container-fh .row,  .container-fh .column
	position: relative
	height: 100%

.btn, .btn:visited
	display: inline-block
	padding: 15px 25px
	text-transform: uppercase
	color: $active
	border: 1px solid $active
	border-radius: 1px
	font-size: 16px
	font-family: hammersmith
	transition: all .3s ease

	&:hover
		color: $hover
		border: 1px solid  $hover

.title
	font-family: playfair
	font-weight: bold
	font-size: 22px
	text-transform: uppercase

.title-line
	font-family: playfair		
	&::after
		content: ''
		display: block
		width: 50px
		height: 2px
		background: $gray
		margin: 20px auto

.header-top 
	position: absolute
	width: 100%
	z-index: 1
	.navbar
		padding: 5px 0
		background-color: transparent
		border: none
		a
			text-decoration: none

		&-menu
			font-size: 13px
			font-weight: 900

.nav-logo
	display: inline-block
	font-size: 30px
	font-weight: 100
	color: $active
	&:hover
		color: $active
		text-decoration: none

.navbar-nav
	li, li.active
		padding-top: 4px
		a
			color: $accent
			transition: color .3s ease
			&:hover, &:active, &:focus
				color: $active
				background-color: transparent

.navbar-toggle
	border: 1px solid $active
	transition: border .3s ease
	
	span
		background-color: $active
		transition: background-color 1s ease
	
	&:hover
		border: 1px solid $hover
		span
			background-color: $hover

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
    background-color: transparent
		
.s	
	position: relative
	background-color: $dark
	color: $accent
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	padding: 60px 0
	
	&.inverse
		background-color: $accent
		color: $main-dark

	&.overlay
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba($overlay, .85)

	&-welcome
		height: 100vh
		// height: 670px
		background-image: url("../img/bg-welcome.jpg")

		.welcome-carousel
			position: relative
			height: 100%
			text-align: center

		.carousel-indicators
			bottom: 20px
			li.active
				transition: background-color .3s ease
				background-color: $active

		.welcome-carousel-container
			position: absolute
			top: 50%
			transform: translateY(-50%)
			height: 320px

			.welcome-item-title
				font-size: 32px
				font-weight: 900
				&::after
					background: $active

			.welcome-item-link
				margin: 20px 0



	&-textstory
		.textstory-logo
			margin-top: 25px

		.textstory-container
			> p, > a
				margin-top: 25px

	&-videostory
		height: 550px
		background-image: url("../img/bg-videostory.jpg")

		.videostory-video
			display: none

		.videostory-container
			width: 100%
			position: absolute
			top: 50%
			transform: translateY(-50%)
			text-align: center

		.videostory-button
			display: inline-block
			width: 90px
			height: 90px
			font-size: 40px
			padding: 5px 0 0 5px
			border: 5px solid $accent
			border-radius: 50%
			transition: all .3s ease
			&:hover
				color: $hover
				border: 5px solid $hover

		.videostory-title
			margin-top: 10px
			font-weight: 900
			font-size: 16px

	&-expertise
		.expertise-title
			width: 100%
			text-align: center
			&-descr
				color: $dark

		.container
			.row:first-child
				border-bottom: 1px solid #ebebeb

			.expertise-item
				padding: 50px 20px
				text-align: center
				&-title
					margin-top: 30px
					font-weight: 900
					text-transform: uppercase
				&-descr
					margin-top: 20px
					color: $dark
					font-weight: 300

	&-team
		background-image: url("../img/bg-team.jpg")
		.team-title
			position: relative
			width: 100%
			text-align: center
			letter-spacing: 1px

		.team-item
			padding: 30px 0
			text-align: center
			
			&-img
				width: 100%
				img
					margin: 0 auto

			&-container
				border: 1px solid $gray
				width: 220px
				margin: 0 auto
				padding: 20px 0

			&-name
				font-weight: 900

			&-position
				font-weight: 300
				font-size: 13px
				color: #fafafa
				letter-spacing: 0

		.team-footer
			position: relative
			width: 100%
			text-align: center
			margin-top: 60px
			&-text
				font-weight: 300
			&-btn
				margin-top: 25px

	&-works
		.works-title-link
			display: inline-block
			float: right
			color: $main-dark
			font-weight: 300
			padding-top: 8px
			&::after
				display: block
				content: ''
				clear: both

		.works-container
			position: relative
			margin-top: 60px
			display: flex
			flex-flow: row wrap
			justify-content: center

		.container-item
			margin: 5px
			transition: transform .3s ease
			&:hover
				transform: scale(1.05)
		
		.works-footer
			position: relative
			width: 100%
			text-align: center
			margin-top: 60px

	&-testimonials
		background-image: url("../img/bg-testimonials.jpg")
		height: 500px
		padding: 0 0 20px

		.testim-carousel
			position: relative
			height: 100%
			text-align: center

			blockquote
				border: none

			.testim-title
				font-size: 100px
				text-align: center
				height: 140px

			.testim-item-text
				font-family: playfair
				font-size: 16px

			.testim-item-name, .testim-item-position
				font-style: normal
				text-transform: uppercase

			.testim-item-name
				display: block
				margin-top: 40px
				font-weight: 900
				font-size: 14px
				
			.testim-item-position
				font-weight: 300
				font-size: 13px
				letter-spacing: 0

		.carousel-indicators
			bottom: 30px
			li
				width: 45px
				height: 45px
				border-radius: 50%
				margin: 0 8px
				background-position: center
				background-size: cover
				transition: transform .5s ease

				&.active
					transform: scale(1.5)

				&.carousel-testim-indicator-1
					background-image: url('../img/testimonals/photo1.png')
				&.carousel-testim-indicator-2
					background-image: url('../img/testimonals/photo2.png')				
				&.carousel-testim-indicator-3
					background-image: url('../img/testimonals/photo3.png')
				&.carousel-testim-indicator-4
					background-image: url('../img/testimonals/photo4.png')
				&.carousel-testim-indicator-5
					background-image: url('../img/testimonals/photo5.png')	

	&-contact
		.contact-form
			& > input, & > textarea
				padding: 20px
				margin-top: 25px

			.form-control
				border-radius: 0

			.btn, .btn:visited
				margin-top: 25px
				background-color: transparent	

		.contact-partner-container
			font-size: 0

			.contact-partner-item
				display: inline-block
				width: 49%
				padding: 20px
				box-sizing: border-box
				text-align: center
				img
					margin: 0 auto

.footer-main
	background-image: url("../img/bg-footer.jpg")
	font-weight: 300
	letter-spacing: 0
	.footer-text
		margin-top: 20px	
	
	.footer-title
		font-size: 15px
		font-weight: 900
		text-transform: uppercase
		letter-spacing: 1px
		margin-top: 10px

	.footer-addr, .form-horizontal
		margin-top: 40px

	.footer-tel
		margin-top: 20px
		a
			text-decoration: none
			color: $accent
			transition: color .3s ease
			&:hover
				color: $hover

	.footer-addr, .footer-tel
		.fa
			font-size: 20px
			margin-right: 20px
			float: left
			padding-top: 3px
		p
			display: inline
	
	.form-horizontal
		box-sizing: border-box
		input, button
			padding: 10px 15px
			vertical-align: middle

		input
			background-color: transparent
			border: 1px solid #9e98b0
			width: 70%

		button
			width: 23%
			margin-left: 5%
			background-color: rgba($accent, .5)
			border: none
			transition: background-color .3s ease
			&:hover
				background-color: rgba($accent, .6)

	.social
		margin-top: 20px
		ul
			list-style-type: none
			padding-left: 0
			li
				display: inline-block
				border: 1px solid $accent
				border-radius: 50%
				text-align: center
				margin: 3px
				transition: background-color .3s ease
				a
					display: inline-block
					width: 35px
					height: 35px
					line-height: 35px
					font-size: 16px
					color: $accent
					
				&:hover
					background-color: $hover

	.footer-nav
		font-weight: 400
		margin-top: 50px

		ul
			list-style-type: none
			margin: 0
			padding: 0
			li
				display: inline-block
				margin: 0 20px
				a
					text-decoration: none
					color: $accent
					transition: color .3s ease
					&:hover
						color: $hover

				&:first-child
					margin-left: 0


			
		.copyright
			float: right
			text-transform: none
			margin: 0
				
				
.top
	position: fixed
	bottom: 25px
	right: -100px
	width: 50px
	height: 50px
	z-index: 10
	font-size: 26px
	background-color: $accent
	color: $active
	border: 1px solid $active
	border-radius: 50%
	text-align: center
	cursor: pointer
	opacity: .5
	transition: all .3s ease
	&:hover
		background-color: $accent
		opacity: 1
	&.active
		right: 25px			

		

	
				

@import "media" // Всегда в конце
